html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
}

.card {
  background: transparent;
  position: relative;
  width: 500px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-content {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

/* .card:hover .card-content {
  transform: rotateY(180deg);
} */

.cardface-front,
.cardface-back {
  background: linear-gradient(45deg, #0045c7, #ff2c7d);
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 1;
}

.cardface-front {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.chip {
  position: absolute;
  margin: 25px;
  height: 80px;
}

.visa {
  position: absolute;
  margin: 35px;
  height: 50px;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 5px;
}

p {
  font-size: 30px;
  color: floralwhite;
}

.card-valid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}

.holder {
  font-size: 15px;
  color: floralwhite;
  margin-bottom: 15px;
}

.valid {
  font-size: 15px;
  color: floralwhite;
}

.name-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}

.name {
  font-size: 25px;
  color: floralwhite;
}

.date {
  font-size: 25px;
  color: floralwhite;
}

.cardface-back {
  transform: rotateY(180deg);
}

.images-back {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.black-banner {
  display: flex;
  flex-direction: column;
  height: 60px;
  background-color: black;
  margin-top: 25px;
}

.striped-banner {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-left: 30px;
  margin-right: 100px;
  background: repeating-linear-gradient(
    45deg,
    floralwhite 10px,
    rgb(228, 226, 226) 10px,
    floralwhite 20px
  );
}

.text-line {
  display: flex;
  flex-direction: row;
  color: floralwhite;
  margin: 35px;
}

.signature-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-color: black;
}

.signature {
  color: floralwhite;
  margin-left: 35px;
}

.visa-2 {
  margin-right: 30px;
  height: 50px;
  width: 150px;
}
